
body{
    font-family: Arial, Helvetica, sans-serif;
}
section {
    display: flex; /* defaults to row layout */
    justify-content: center;  /* centers items horizontally in row layout */
     align-items: center; /* centers vertically in row layout */ 
    /*flex-direction: column; will set layout to column instead of row */
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 150px;
   }

button {
    background-color: rgb(169,169,169);
    color:white;
    font-weight:bold;
    font-size: 20px;
    height: 75px;
    width: 75px;
    padding: 20px;
}
button:hover{
    background-color: white;
    color:rgb(169,169,169);
}

input {
    border: solid 4px rgb(169,169,169);
    font-size: 30px;
    font-weight: bold;
    height: 65px;
    width: 50px;
    margin: 20px;
    padding-left:30px; 
}
h1 {
    font-size:70px;
    align-items: center;
padding-left: 125px;
}